@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
/* Prevent overflow */
body, html {
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* Prevents horizontal scrolling */
  width: 100vw; /* Ensures it doesn’t extend beyond the viewport */
}
html {
  scroll-behavior: smooth;
}
.sectionWrapper {
  margin-bottom: 4rem; /* Adjust as needed for comfortable spacing */
}
